@use "../abstracts/mixins" as m;
@use "../components/search-bar";

:where(.archive) {
	.cno-event {
		&__image {
			@include m.fitMedia($fit: contain);
			aspect-ratio: 16 / 9;
			height: 25rem;
		}
		&__meta {
			color: black;
		}
	}
}
